@using StarcraftOrganizer.Data.Entities
@inject MatchService MatchService;
@inject NavigationManager Navigation


<div class="m-4 mb-6 min-w-full rounded-lg border border-blue-400/30 bg-[#1a1f2b] p-4 p-4 shadow-lg shadow-blue-500/10">
    <div class="mb-4 flex items-center">
        <div class="mr-2 text-xl font-semibold text-white">@Player.UserName</div>
        <div class="text-sm text-gray-400">@Player.Race</div>
    </div>
    <div class="grid grid-cols-3 gap-2 text-sm text-gray-300">
        <div>Vinster</div>
        <div>Förluster</div>
        <div>Vinstprocent</div>
        <div class="text-white">@Wins</div>
        <div class="text-white">@Losses</div>
        <div class="text-white">@WinPercentage%</div>
      

    </div>


    @if (Player is not null)
    {
        <NavLink class="mt-4 inline-block rounded bg-blue-600 px-3 py-1 font-semibold text-white hover:bg-blue-700"
                 href="@($"/player/{Player.Id}")">
            Visa profil
        </NavLink>
    }


</div>

@code {
    [Parameter]
    public Player? Player { get; set; }

    public int Wins { get; set; }

    public int Losses { get; set; }

    public int WinPercentage { get; set; }

    public List<Match> TotalAmountMatches { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Player != null)
        {
            TotalAmountMatches = await MatchService.GetMatchesByPlayerIdAsync(Player.Id);
        }

        Wins = TotalAmountMatches.Count(m =>
             m.Player1Won.HasValue && (
                 (m.Player1Id == Player.Id && m.Player1Won.Value) ||
                 (m.Player2Id == Player.Id && !m.Player1Won.Value)
             )
        );

        Losses = TotalAmountMatches.Count(m =>
            m.Player1Won.HasValue && (
                (m.Player1Id == Player.Id && !m.Player1Won.Value) ||
                (m.Player2Id == Player.Id && m.Player1Won.Value)
            )
        );

        int totalPlayed = Wins + Losses;
        WinPercentage = totalPlayed > 0
            ? (int)Math.Round((double)Wins / totalPlayed * 100)
            : 0;
    }
}
